.ui-dark-theme {
    --ui-background: #252424;
    --ui-background-bright: #353535;
    --ui-background-dim: #181818;
    --ui-primary: #06b0c2;
    --ui-primary-dim: #18919e;
    --ui-secondary: #102437;
    --ui-on-primary: #f8f8f8;
    --ui-on-background: #f8f8f8;
    --ui-on-background-dim: #bbb;
    --ui-accent: lightblue;
}

.ui-light-theme {
    --ui-background: #f8f8f8;
    --ui-background-bright: white;
    --ui-background-dim: #f2f2f2;
    --ui-primary: #06b0c2;
    --ui-primary-dim: #18919e;
    --ui-secondary: #102437;
    --ui-on-primary: #f8f8f8;
    --ui-on-background: #222;
    --ui-on-background-dim: #777;
    --ui-accent: teal;
}

html {
    overflow: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background-color: var(--ui-background);
    font-family: Helvetica, Arial, sans-serif;

    overscroll-behavior-y: contain;

    font-size: medium;
    color: var(--ui-text);

    transition: background 0.5s;
}

::-webkit-scrollbar {
    background-color: var(--ui-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--ui-background);
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}


button {
    cursor: pointer;
    background: var(--ui-primary);
    color: var(--ui-on-primary);
    border: none;
    border-radius: 100vmax;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    min-height: 35px;
}

button:disabled {
    background-color: var(--ui-primary-dim);
    cursor: not-allowed;
    color: var(--ui-on-background-dim);
}

h2 {
    text-align: center;
    color: var(--ui-on-background);
    font-size: 2.75rem;
    letter-spacing: -1%;
    margin: 0;
    padding: 5rem 0 0 0;
}

input[type=text],
input[type=email] {
    background: transparent;
    border: 1px solid var(--ui-on-background-dim);
    border-radius: 100vmax;
    color: var(--ui-on-primary);
    padding: 0.5rem 2rem;
}

#content {
    height: 100%;
    overflow: hidden auto;
}

.header-main {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--ui-on-background);
    padding: 1rem 3%;
    top: 0;
    width: 94%;
    transition: all 0.5s ease-in-out;
}

.header-main-background {
    background-color: var(--ui-background);
}

.home-wrapper {
    background-image: url("../assets/home-model.png");
    background-position: center;
    background-size: cover;
    padding-top: 4.5rem;
    height: 100%;

}

.tab-bar-div {
    display: flex;
    align-items: center;
    border-radius: 100vmax;
    background-color: var(--ui-background-dim);
    margin: 0.25rem;
    min-width: 100px;
}

.tab-bar-button {
    background: transparent;
    border: none;
    border-radius: 100vmax;
    padding: 0.2rem 1rem;
    margin: 0.25rem;
    color: var(--ui-on-background);
}

.tab-bar-active {
    background: var(--ui-background);
}

.feature-img-container {
    margin: 0.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    justify-content: center;
}

.feature-img-tile {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 28%, 32vw);
}

.feature-img-tile h4 {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.25em 0;
}

.feature-img-tile img {
    max-width: 300px;
    align-self: center;
}

.feature-img-tile a {
    margin-bottom: 3rem;
}



.subtext {
    display: block;
    color: var(--ui-on-background-dim);
    font-weight: 100;
    font-size: 0.9em;
    max-width: 60vw;
    text-overflow: ellipsis;
}


.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10vw;
}


.separator {
    margin: 1.5rem 0rem;
    background-color: var(--ui-on-background-dim);
    height: 1px;
    width: 100%;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content 1fr min-content min-content 1fr 1fr;
    background: var(--ui-secondary);
    color: var(--ui-on-primary);
    padding: 2rem 2.5rem 4rem 2.5rem;
    min-height: 40vh;
}

.email-input-wrapper {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-bottom: 100px;
}

.why-wrapper {
    overflow: clip;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 94%;
    margin: 10vh 3% 10vh 3%;
}

.why-wrapper img {
    max-width: 50%;
}

.why-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 0 10rem;
    overflow: scroll hidden;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.why-carousel::-webkit-scrollbar {
    display: none;
}

.why-carousel-tile {
    min-width: 200px;
    width: 33vw;
    max-width: 350px;
}

.footer-text {
    font-size: 0.8rem;
    color: var(--ui-on-primary);
}


@media (max-width: 580px) {
    .why-wrapper {
        flex-direction: column;
    }
}

/* For hover-enabled devices only */
@media (hover: hover) {
    button:hover {
        background-color: var(--ui-primary-dim);
    }

    .tab-bar-button:hover {
        background: var(--ui-background-bright);
    }
}